# Ports
DB_PORT=1433
API_PORT=3000
RABBITMQ_PORT=5672
RABBITMQ_PORT_MANAGEMENT=15672

# DB
DB_HOST=localhost
DB_TYPE=mssql
DB_USERNAME=sa
DB_PASSWORD=Example!!123!!
DB_NAME=CarFactory_Factories

## RABBITMQ
RABBITMQ_SERVICE_NAME=localhost
RABBITMQ_USER=test
RABBITMQ_PASSWORD=test
RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@${RABBITMQ_SERVICE_NAME}:5672
RABBITMQ_QUEUE=my_queue
